body{
    overflow-y: hidden;
}

.title{
   text-align: center;
    margin: 3%;
    color: var(--sec-color);
}

main{
   display: flex;
   width: 100vw;
<<<<<<< HEAD
   height: 100%;
   align-items: center;
   justify-content: space-around;
=======
   justify-content: space-between;
}
>>>>>>> 78854b229aecc1ef5cb83d75a392a2faaa16c74b

}


img{
    min-height: 300px;
    max-height: 350px;
    min-width: 400px;
}

.container-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 5%;
    width: 50%;
    margin: 10px;
}

p, h4{
    font-size: 1rem;
}

.container-right h4{
    color: var(--main-color);
}

.topic-one{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.intro{
    font-weight: bold;
}

.description {
    display: grid;
    gap: 2vh;
    color: var(--sec-color);
}

.container-right aside > a{
    font-weight: bold;
    font-size: 1rem;
    color: var(--main-color);
}

/* Tablet */
@media screen and (max-width:800px) and (min-width: 600px){

main{
    flex-direction: column;
}

.container-right{
    width: 60%;
}

p,h4{
    font-size: 1.4rem;
}

.container-right aside > a{
    font-size: 1.4rem;

}

}