main{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    font-size: 1.3rem;
}
.container-left{
    color:#2a2a2a;
}
.container-right{
    width: 50vw;
    height: auto;
}

.container-left h1{
    margin-right: 10px;
    font-size: 2.3rem;
}
.container-left p{
    width: 35vw;
}

.img{
    width:50vw;
    min-height: 300px;
    max-height: 450px;
    min-width: 400px;
}

/* Tablet */
 @media screen and (max-width:800px) and (min-width: 600px){
    main{
        flex-direction: column-reverse;
        gap: 10%;
        align-items: center;
    }

    .img{
        margin: 0;
        min-height: 300px;
        max-height: 350px;
        min-width: 500px;
    }

    
    .container-left h1{
        font-size: 3rem;
    }

    .container-left p{
        font-size: 1.8rem;
        width: 80vw;
    }


}


/* Mobile */

@media screen and (max-width:600px) and (min-width: 300px){

    main{
        width: 90vw;
        flex-direction: column-reverse;
        gap: 10%;
        align-items: center;
    }

    .img{
        min-height: 200px;
        max-height: 350px;
        min-width: 300px;
    }

    
    .container-left h1{
        font-size: 2rem;
    }

    .container-left p{
        font-size: 1.2rem;
        width: 80vw;
    }


}

/* @media (min-width: 1400px){

    main{
        font-size: 2.3rem;
        gap: 15px;
    }

    .container-left h1{
        font-size: 3rem;
    }

    .img{
        min-height: 400px;
        max-height: 550px;

    }
}
 */

