@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');*{
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#f2674d;
    --sec-color:#2a2a2a;
    --hover-color:#e46048;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: var(--sec-color);
    overflow-x: hidden;
}
#active{
    color: var(--main-color);
}

 header{
    margin: 0 1vw 0 1vw;
    align-items: center;
    display: flex;
    padding: 10px 0;
}
.logo{
    font-size: 1.7rem;
    font-weight: 900;
    
}
.logo-link{
    text-decoration: none;
    color:var(--main-color);
}
.menu-items{
    display: flex;
    width: 100vw;
    margin-top: 0.5vw;
    align-items: baseline;
    gap: 5%;
    padding: 0 20px;
    justify-content: center;
}
.item{
    padding: 0 5px;
    font-size: 1.5rem;
    color:var( --sec-color);
    text-decoration: none;   
}


.item:hover{
    color:var(--main-color);
}
.account{
    text-decoration: none;
    color:white;
}
button{
    border: none;
    border-radius: 10px;
    background-color: var(--main-color);
    font-size: 1rem;
    padding: 1% 1%;
    font-weight: bold;
    color:white;
    cursor: pointer;
}

button:hover{
    background-color: var(--hover-color);
   
}

.error{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.error-message{
    display: none;
}
<<<<<<< HEAD
/* tablet */
@media screen and (max-width:800px) and (min-width: 600px){
   


    .logo{
        font-size: 2rem;
    }

    .item{
       font-size:1.6rem ;
   }

    button{
        font-size: 1.4rem;
        padding: 1.3% 1.3%;
    }
}


/* @media (max-width:1150px ){
=======

@media (max-width:1150px ){
>>>>>>> 78854b229aecc1ef5cb83d75a392a2faaa16c74b

    body{
        overflow:hidden;
    }

    .error{
        display: flex;
        background-color: red;
    }

    .error-message{
        display: block;
    }

    header, article , aside, footer, .container-left, .container-right, .title{
        display: none;
        visibility: hidden;
    }
<<<<<<< HEAD
} */
=======


}
>>>>>>> 78854b229aecc1ef5cb83d75a392a2faaa16c74b
