
body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
#active{
    color:var(--main-color);
}

main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    width: 100vw;
}

 .container-left h1{ 
    color: var(--sec-color);
    font-size: 2rem;
}
.container-left p{
    width: 30vw;
    font-size: 1.2vw;
}
.container-left a{
    text-decoration: none;
    color: white;
}

.container-right{
    height: 50%;
    width: 40%;
    border: none;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}

.container-right a{
    text-decoration: none;
    color: var(--sec-color);
}

.box-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    background-color:white;
    color: var(--sec-color);
    width: 15vw;
    height: 65%;
    border-radius: 10px;
    box-shadow: 10px 10px 100px grey;
}
.box-one .iconify{   
    width: 5vw;
    height: 8vh;
}
.box-one p{
    text-align: center;
    margin-top:15%;
    font-size: 1.2vw;
}

.box-one:hover{
    transition: 0.5s;
    background-color: var(--sec-color);
    color:white;
}

.box-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 15vw;
    height: 65%;
    border-radius: 10px;
    box-shadow: 10px 10px 100px grey;
}

.box-two .iconify{
    width: 5vw;
    height: 8vh;
}

.box-two p{
    text-align: center;
    margin-top:15%;
    font-size: 1.2vw;

}
.box-two:hover{
    transition: 0.5s;
    background-color: var(--sec-color);
    color:white;
}
.box-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 15vw;
    height: 65%;
    border-radius: 10px;
    box-shadow: 10px 10px 100px grey;
}

.box-three .iconify{
    width: 5vw;
    height: 8vh;

}

.box-three p{
    text-align: center;
    margin-top:15%;
    font-size: 1.2vw;

}

.box-three:hover{
    transition: 0.5s;
    background-color: var(--sec-color);
    color:white;
}

/* Begginning of down pages */

/*First project*/

.container-proj1{
     background-image:url("backP2.png"); 
     background-repeat: no-repeat;
     background-size:cover;
     background-color:#f6f6f6 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100vw;
    gap: 15px;
  
}

.description{
    width: auto;
    margin-left: 20%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
}
.description h1{
    font-size: 1.6rem;
    color: var(--sec-color);
}
.description  h3{
    color: var(--main-color);
}
.description  p{
    color: var(--sec-color);
    font-size: 1rem;
}

.container-slider{
    align-self: center;
}


#slider {
    width: 58vw;
    min-width: 400px;
    height: 55vh;
    min-height: 150px;
    margin-bottom: 4%;
    position: relative;
}

#slider img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 13px;
    transition: opacity 800ms;
}

#slider img.selected{
    opacity: 1;
}

/* Details */
.details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100vw;
    background-color:#e3e3e3 ;
}

.details > h4{
    color: purple;
}

aside .iconify{
    cursor: pointer;
    margin-left: 10px;
    width: 3vw;
    height: 4vw;
}



 /* Second Project */
.container-proj2{
    background-image:url("backP3.png"); 
    background-repeat: no-repeat;
    background-size:contain;
    background-color:#f6f6f6 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100vw;  
    gap: 20px;
}
.container-proj2 > .description{
    width: 40%;
    padding:10px;
    background-color: var(--sec-color);
    border-radius: 12px;
}
.container-proj2 .description h1, .container-proj2 .description p{
    color:#f6f6f6;
}

#slider2 {
    width: 58vw;
    min-width: 400px;
    height: 55vh;
    min-height: 150px;
    position: relative;
    margin-bottom: 5%;
}

#slider2 img {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 13px;
    transition: opacity 800ms;
}

#slider2 img.selected{
    opacity: 1;
}

/*Third Project */

.container-proj3{
    background-image:url("backP2.png"); 
    background-repeat: no-repeat;
    background-size:contain;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

.container-proj3 .description{
    display: flex;
    gap: 10px;
}

.container-proj3 .description aside {
    display: flex;
    flex-flow:row, wrap ;
    align-items: center;
    background-color:#e3e3e3 ;
    color: var(--sec-color);
    height: 10vh;
    width: 30vw;
    gap: 10px;
    border-radius: 12px;
}

.container-proj3 .description aside h3{
    color: var(--sec-color);
}

.illustration{
    width: 50%;
}

.illustration > img{
    margin-bottom: 8%;
    width: 600px;
    min-width:400px;
}

/* Tablet */
@media screen and (max-width:800px) and (min-width: 600px){

    main{
       flex-direction: column;
    }

    .container-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
    }

    .container-left h1{ 
        font-size: 2rem;
    }
    .container-left p{
        width: 70%;
        font-size: 1.1rem;
    }

    .container-right{
        height: 30%;
        margin-bottom: 5%;
    }

    #slider{
        height: 40vh;
        width: 80vw;
    }

    .container-proj1{
        height: 65%;
    }

    #slider2{
        height: 40vh;
        width: 80vw;
    }

    .container-proj2{
        height: 70%;
    }

    .details > h4{
        display: none;
    }

    .container-proj3{
        height: 40%;
    }

    .container-proj3 .description aside{
        height: 50px;
        width: 350px;
    }

    .illustration {
       display: none;
    }

    .details{
        height: 40px;
    }
   

}

/* Mobile */

@media screen and (max-width:600px) and (min-width: 300px){

    main{
        margin-top: 10%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5%;
     }
 
     .container-left{
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 90vw;
     }
 
     .container-left h1{ 
         font-size: 1.5rem;
     }
     .container-left p{
         width: 70%;
         font-size: 1.1rem;
     }
 
     .container-right{
         height: 30%;
         padding-bottom: 5%;
         gap: 5%;
     }

     .box-one{
        justify-content: center;
        width: 150px;
        height: 150px;
    }
    .box-one .iconify{
        padding-top: 10px;  
        margin: 0; 
        width: 50px;
        height: auto;
    }
    .box-one p{
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        padding-bottom: 20px;
    }
    
    
    .box-two{
        justify-content: center;
        width: 150px;
        height: 150px;
    }
    
    .box-two .iconify{
        padding-top: 10px;  
        margin: 0; 
        width: 50px;
        height: auto;
    }
    
    .box-two p{
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        padding-bottom: 20px;
    }
    
    .box-three{
        justify-content: center;
        width: 150px;
        height: 150px;
    }
    
    .box-three .iconify{
        padding-top: 10px;  
        margin: 0; 
        width: 50px;
        height: auto;
    }
    
    .box-three p{
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
    }
 
    #slider{
        width: 10vw;
        height: 10vh
    }

    #slider2{
        width: 20vw;
        height: 10vh
    }

    #slider img {
    
        object-fit: cover;
      
    }

    #slider2 img {
     
        object-fit: cover;
        
    }

     .container-proj1{
         height: 65%;
        
     }
    
     .container-proj2{
         height: 65%;
         padding-top: 10%;
     }

     .container-proj2 > .description{
        width: 60%;
     }
     
     .details{
        height: 50px;
     }

     .details h3{
        font-size: 0.7rem;
     }

     aside .iconify{
        width: 30px;
        height: auto;
    }
    
     .details > h4{
         display: none;
     }
 
     .container-proj3{
         flex-direction: column;
         align-items: center;
         justify-content: center;
         height: auto;
     }
 
     .illustration{
        display: none;
     }
     
     .container-proj3 .description{
         
         gap: 5px;
     }
     .container-proj3 .description h1 {
        font-size: 1rem;
     }

     .container-proj3 .description p{
         font-size: 0.5rem;
         width: 200px;
     }

     .container-proj3 .description aside{
         font-size: 0.6rem;
         height: 40px;
         width: 250px;
         margin-bottom: 10px;
     }
    
 }

