.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 80vh;
}

img{
    width: auto;
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer{
    padding-top: 20px;
    width: 100%;
    display: flex;
   justify-content: center;
}

footer button{
    padding: 20%;
}

@media screen and (max-width:800px) and (min-width: 600px){

    .main{
        height: 70vh;
    }

    img{
        width: 80%;
        height: 70%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    

}
